
  <form [formGroup]="log_in" class="circle-block animated" (submit)="onSubmit()">


    <h1>Welcome to Comet</h1>

    <input id="inp1" type="text" class="vhod-input form-control" placeholder="Login" formControlName="login" >
     <div class="error login">Incorrect login</div>
    <input id="inp2" type="text"  class="vhod-input  form-control" placeholder="Password" formControlName="password"  >
    <div class="error password">Incorrect password</div>
    <section class="btns">
      <div id="abtn" (click)="onSubmit()">
        <div class="front">Log in</div>
        <div class="back">Log in</div>
      </div>
    </section>

    <div id="registr" class="fpass" ><a routerLink="/registration">Don't have an account yet?</a></div>
    <div id="pass" class="fpass" ><a routerLink="/app/aliving_email">Forgot password?</a></div>


  </form>


  <p>Form value: {{ log_in.value | json }}</p>
  <p>Form status: {{ log_in.status | json }}</p>
