
  <form *ngIf="log_in" [formGroup]="log_in" class="circle-block animated" (submit)="onSubmit()">


    <h1>Welcome to Comet</h1>

    <input id="inp1" type="text" class="vhod-input form-control" placeholder="Login" formControlName="login"/>
     <div *ngIf="isControlInvalid('login')" class="error login">Incorrect login</div>
    <input id="inp2" type="password"  class="vhod-input form-control" placeholder="Password" formControlName="password"/>
    <div *ngIf="!checkerAuth" class="error password">Incorrect login or password</div>
    <section class="btns"><a (click)="onSubmit()">
      <div id="abtn">
        <div class="front">Log in</div>
        <div class="back">Log in</div>
      </div></a>

    </section>

    <div id="registr" class="fpass" ><a routerLink="/app/registration">Don't have an account yet?</a></div>
    <div id="pass" class="fpass" ><a routerLink="/app/aliving_email">Forgot password?</a></div>


  </form>


  <p>Form value: {{ log_in.value | json }}</p>
  <p>Form status: {{ log_in.status | json }}</p>
