
<div id="dialog">
<div id="tabs">
  <input type="radio" name="odin" checked="checked" id="vkl1"/>
  <label for="vkl1" class="dark_block">Mila Yovovich</label>
  <input type="radio" name="odin" id="vkl2"/>
  <label for="vkl2" class="dark_block">Justin Bieber</label>
  <input type="radio" name="odin" id="vkl3"/>
  <label for="vkl3" class="dark_block">Ansel Elgort</label>

  <div class="tab dark_block scrolling">
    <div class="message left_message">ddddddddddddddddddddddddddddd</div>


    <div class="clear"></div>
    <div class="message right_message">message2</div>
    <div class="clear"></div>
    <div class="message right_message">message2</div>
    <div class="clear"></div>
    <div class="message right_message">message2</div>
    <div class="clear"></div>
    <div class="message right_message">message2</div>
    <div class="clear"></div>
    <div class="message left_message">message3</div>
    <div class="clear"></div>
    <div class="message right_message">message2</div>
    <div class="clear"></div>
    <div class="message left_message">message3</div>
    <div class="clear"></div>
  </div>

  <div class="tab dark_block scrolling">
    <div class="message left_message">mesddddddddddddddddddddddddddddddddddddddddddddddddddd</div>
    <div class="clear"></div>
    <div class="message right_message">Свойства описывают смещение относительно ближайшей стороны блока-контейнера. Задаются для элементов, для которых значение свойства position не равно static</div>
    <div class="clear"></div>
    <div class="message right_message">Для свойства top положительные значения перемещают верхний край позиционируемого элемента ниже, а отрицательные — выше верхнего края его блока-контейнера. Для свойства left</div>
    <div class="clear"></div>
    <div class="message right_message">aaaaaaaaa</div>
    <div class="clear"></div>
    <div class="message right_message">dfdnfnfjfmkv</div>
    <div class="clear"></div>
    <div class="message left_message">dfvvplfvfkpvkpfdvpgkgbnmkfmvd,dc,vop</div>
    <div class="clear"></div>
    <div class="message right_message">le,flfpvfoifud09splcvjkf</div>
    <div class="clear"></div>
    <div class="message left_message">mkmmfriofjre8hfuerhnfhvbfhbvhfirw;odcdmc</div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="message left_message">dfvvplfvfkpvkpfdvpgkgbnmkfmvd,dc,vop</div>
    <div class="clear"></div>
    <div class="message right_message">le,flfpvfoifud09splcvjkf</div>
    <div class="clear"></div>
    <div class="message left_message">mkmmfriofjre8hfuerhnfhvbfhbvhfirw;odcdmc</div>
    <div class="clear"></div>
  </div>



  <div class="tab dark_block scrolling">
    <div class="message left_message">message1</div>
    <div class="clear"></div>
    <div class="message right_message">message2</div>
    <div class="clear"></div>
    <div class="message left_message">message3</div>
  </div>
</div>



<div class="dark_block sending_message">
  <textarea class="scrollingtext" placeholder="Type message..."></textarea><button class="send">Send</button>
</div>
</div>
