.mask {
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index:100;
}



.del{
  background:#8A0829;
  border-radius:42px;
  height: 30px;
  width:90px;
  color:#E6E6E6;
  border:none;
  box-sizing:border-box;
  line-height:1.15;
  cursor:pointer;
  outline: none;
}
