

<section id='formareg'   class="circle-block animated">

  <h1>Welcome to Comet</h1>

  <input id="inp3"    class="vhod-input" placeholder="Full name">

  <input id="inp4"   class="vhod-input" placeholder="Login">
  <input id="inp5"   class="vhod-input" placeholder="Email">
  <input id="inp6"   class="vhod-input" placeholder="Password">
  <input id="inp7"   class="vhod-input" placeholder="Repeat password ">

  <section class="btns" style="top:78%">
    <div id="abtn"   ><a routerLink="/">
      <div class="front">Sign up</div>
      <div class="back">Sign up</div></a>
    </div>
  </section>

  <div id="turningback" class="fpass" href=""><a routerLink="/login">Return to log in</a></div>



</section>





