
  <section id="formavhod" class="circle-block animated">


    <h1>Welcome to Comet</h1>

    <input id="inp1"    class="vhod-input" placeholder="Login">

    <input id="inp2"   class="vhod-input" placeholder="Password">

    <section class="btns">
      <div id="abtn"  ><a routerLink="/">
        <div class="front">Log in</div>
        <div class="back">Log in</div></a>
      </div>
    </section>

    <div id="registr" class="fpass" ><a routerLink="/registration">Don't have an account yet?</a></div>
    <div id="pass" class="fpass" ><a routerLink="/aliving_email">Forgot password?</a></div>


  </section>

